@theme {
  --font-mono: 'Tabular', monospace;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Removed static font definitions. */

@font-face {
  font-family: 'Tabular';
  src: url('/fonts/Tabular-Variable.woff2') format('woff2');
  font-variation-settings: 'wght' 300 700;
  font-weight: 300 700; /* Fallback for browsers that don't support font-variation-settings */
  font-style: normal;
}

@font-face {
  font-family: 'Tabular';
  src: url('/fonts/Tabular-VariableItalic.woff2') format('woff2');
  font-variation-settings: 'wght' 300 700;
  font-weight: 300 700; /* Fallback for browsers that don't support font-variation-settings */
  font-style: italic;
}