---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/base.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
	const writings = await getCollection("writings");
	return writings.map((writing) => ({
		params: { slug: writing.id.replace(/\.[^/.]+$/, "") },
		props: { writing },
	}));
}

const { writing } = Astro.props;
const { Content } = await render(writing);
---

<BaseLayout 
  title={writing.data.title}
  article={{
    title: writing.data.title,
    published: writing.data.published,
    slug: Astro.params.slug
  }}
>
    <article class="font-sans w-full">
        <header>
            <time class="font-mono text-sm text-black/50 dark:text-white/50" datetime={writing.data.published.toISOString()}>
                {writing.data.published.toLocaleDateString()}
            </time>
            <h2 class="font-bold text-2xl">{writing.data.title}</h2>
        </header>
        <div class="prose prose-neutral dark:prose-invert py-4 w-full">
            <hr />
            <Content />
        </div>
    </article>
</BaseLayout>

<style is:global>
    .prose {
        max-width: 100% !important;
    }
</style>