---
import PageLayout from "@/layouts/base.astro";
---

<PageLayout>
	<p>
		Page not found.
	</p>
  <p>
    You can go back to the <a href="/">home page</a> or check out the <a href="/apps">apps</a> page.
  </p>
</PageLayout>
